<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel = "stylesheet", href = "static\style.css">
</head>

<body>
    <h2>User Details</h2>
    <form method="post">
        <label>Current Level:</label>
        <select name="level">
            <option>Beginner</option>
            <option>Intermediate</option>
            <option>Advanced</option>
        </select>

        <label>Subject:</label>
        <select name="subject">
            <option>Math</option>
            <option>Science</option>
            <option>Computer Science</option>
        </select>

        <button type="submit">Start Assessment</button>
    </form>

</body>

</html>