<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" , href="static\style.css">
</head>

<body>
    <h2>Assessment</h2>
    <form method="POST" action="/submit-quiz">

        <input type="hidden" name="subject" value="{{ subject }}">
        <input type="hidden" name="difficulty" value="{{ difficulty }}">

        {% for q in questions %}
        <div class="question-box">
            <p><strong>{{ loop.index }}. {{ q.question }}</strong></p>

            {% for option in q.options %}
            <label>
                <input type="radio" name="q{{ loop.index }}" value="{{ option }}" required>
                {{ option }}
            </label><br>
            {% endfor %}

            <input type="hidden" name="correct{{ loop.index }}" value="{{ q.answer }}">
        </div>
        <hr>
        {% endfor %}

        <button type="submit">Submit Quiz</button>
    </form>
</body>

</html>